/* html과 body의 전체높이를 화면 너비에 맞춤 */
html,body {
    height: 100%;
}
body{
    /* 축변경 (가로->세로) */
    display: flex;
    /* 정렬 */
    /* justify-content: space-around; */
    /* align-items: column; */
    flex-direction: column;
    justify-content: center;
}

div{
    width: 200px;
    height: 200px;
    background-color: tomato;
}

#second {
    background-color: seagreen;
}